body {
  background-color: red;
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background-color: aqua;
  display: grid;
  grid-template-columns: 132px 350px 250px;
  width: calc(132px + 350px + 250px + 70px);
  column-gap: 35px;
  width: 802px;
}

.logo {
  background-color: orange;
  margin-top: 222px;
}

.fota {
  background-color: yellow
}

.content {
  background-color: green;
}